PORT=3000
DATABASE_URL="postgres://playground_db_e0l9_user:VgsrNBdoY5f1ys8UvmpeYbo5A0TGToHC@dpg-ck12k0fdorps7398g52g-a.oregon-postgres.render.com/playground_db_e0l9"
SHADOW_DATABASE_URL="postgres://playground_db_e0l9_user:VgsrNBdoY5f1ys8UvmpeYbo5A0TGToHC@dpg-ck12k0fdorps7398g52g-a.oregon-postgres.render.com/playground_db_e0l9"
JWT_SECRET=Pazzw0rd123
JWT_LIFETIME=1hr